  <head>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
<body class="roboto-text">
    <%- include("partials/navbar.ejs") %>
    <a class="form-center" href="/game/form">Add Game</a>
    <div class="game-container">
        <% for (let i = 0; i < games.length; i++){ %>
            <div class="game-card">
              <img src="/Super Mario Galaxy.jpg" class="game-img"/>
              <a class="expand-link" href="/game/<%= games[i].id %>"><%= games[i].title%></a>
              <p>$<%= games[i].price %></p>
              <p>Rating: <%= games[i].rating %>/10</p>
              <div class="del-upd">
              <a href="/game/<%= games[i].id %>/delete" >Delete</a>
              <a href="/game/<%= games[i].id %>/update" >Update</a>
              </div>
            </div>
        <% } %>
    </div>
</body>