<head>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
</head>
<body class="roboto-text">
  <%- include("../partials/navbar.ejs") %>

  <main class="game-expand-main">
    <div class="game-expand-toprow">
      <div class="game-expand-img">
        <img src="/Super Mario Galaxy.jpg" />
      </div>
      <div class="game-expand-info">
        <p><%= game.title %></p>
        <p>$<%= game.price %></p>
        <p>Rating: <%= game.rating %>/10</p>
      </div>
    </div>
    <div class="game-expand-bottomrow">
      <p><%= game.description %></p>
    </div>
  </main>
</body>
