<body>
  <main>
      <%- include('../partials/errors') %>
    <form method="POST" action="/game/<%= game.id %>/update">
      <div>
        <label for="title">Title </label>
        <input type="text" name="title" id="title" value="<%= game.title %>" required />
      </div>
      <div>
        <label for="description">Description </label>
        <textarea type="text" name="description" id="description" required>
<%= game.description %></textarea
        >
      </div>
      <div>
        <label for="price">Price </label>
        <input
          type="number"
          name="price"
          id="price"
          value="<%= game.price %>"
          required
        />
      </div>
      <div>
        <label for="rating">Rating </label>
        <input
          type="number"
          name="rating"
          id="rating"
          value="<%= game.rating %>"
          required
        />
      </div>
       <div>
        <label for="genres">Select Genres (Use cmd/ctrl to select multiple) </label>
        <select name="genres" id="genres" multiple>
          <% for (let i = 0; i < genres.length; i++) { %>
            <% if(!sel_genres.includes(genres[i].genre)) { %>
            <option value="<%= genres[i].genre %>"><%= genres[i].genre %></option>
          <% } else{ %>
            <option selected value="<%= genres[i].genre %>"><%= genres[i].genre %></option>
          <% } %>
          <% } %>
        </select>
      </div>
      <div>
        <label for="devs">Select Developers (Use cmd/ctrl to select multiple) </label>
        <select name="devs" id="devs" multiple>
          <% for (let i = 0; i < devs.length; i++) { %>
            <% if(!sel_devs.includes(devs[i].developer)) { %>
            <option value="<%= devs[i].developer %>"><%= devs[i].developer %></option>
          <% } else { %>
            <option selected value="<%= devs[i].developer %>"><%= devs[i].developer %></option>
          <% } %>
          <% } %>
        </select>
      </div>
      <label for="password">Admin Password </label>
      <input type="text" name="password" id="password" />

      <input type="submit" value="Submit" />
    </form>
  </main>
</body>
